
table {
    border-collapse: collapse;
}

header {
    width: 305px;
    margin: 30px 0px 25px 16px;
    border-radius: 10%;
    color: white;
    background-color: #941100;
    box-shadow: 0 4px 6px #0000001a, 0 1px 3px #00000014;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

header:hover{
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    color: white;
    background-color: black;
}

.chart {
    margin: 8px 0 0px 0px;
    padding: 7px 0px;
    font-size: 25px;
    text-align: center;
}

.brand {
    margin: 6px 0;
    padding-bottom: 6px;
    font-size: 20px;
    text-align: center;
}


.section-1 {
    width: 70%;
    margin-left: 15px;
    margin-right: 15px;

}
table p {
    margin: 0;
    font-size: 70px;
    cursor: pointer;
}

td, th{
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


.firstTable {
   float: left;
}

th[colspan="2"],th[colspan="3"] {
    padding: 10px;
    background-color: #941100;
    color: white;
    font-size: 20px;
    border: 0px solid blue;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.voiceless-sounds-p,
.voiceless-sounds-t,
.voiceless-sounds-tʃ,
.voiceless-sounds-f,
.voiceless-sounds-θ,
.voiceless-sounds-s,
.voiceless-sounds-ʃ,
.voiceless-sounds-k
 {
    color : #929292
}
td, th[colspan="2"] {
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

td:hover {
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    color: white;
    background-color: #941100;
}


th[colspan="2"]:hover, th[colspan="3"]:hover {
    color: white;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}



.firstTable #vowels-monophthongs
{
    width: 100%;
}

/* Responsive design start */
/* Mobile Devices (iPhone X, Samsung Galaxy S9) */
@media (min-width: 375px) and (max-width: 425px) {

    header {
       width: 100%;
       margin: 0 0 0 25%;
       background-color: #941100;
       font-weight: bold;
       font-family:'fantasy'
    }

    .firstTable{
        display: flex;
    }

    th[colspan="2"] {
        border-bottom-left-radius: 6px;
    }
}

/* Tablets (iPad Mini, iPad) */
@media (min-width: 600px) and (max-width: 768px) {
    header {
        width: 50%;
        padding: 0px 10px;
        margin: 0 25% 0 25%;
        background-color:#941100;
        font-weight: bold;
        font-family:'fantasy'
     }
     th[colspan="2"] {
        border-bottom-left-radius: 6px;
    }
}

/* Large Tablets (iPad Pro) */
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        width: 50%;
        padding: 0px 10px;
        margin: 0 25% 0 25%;
        background-color: #941100;
        font-weight: bold;
        font-family:'fantasy'
     }
     th[colspan="2"] {
        border-bottom-left-radius: 6px;
    }
}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    header {
        width: 50%;
        padding: 0px 10px;
        margin: 0 25% 0 25%;
        background-color:  #941100;
        font-weight: bold;
        font-family:'fantasy';
     }

     th[colspan="2"] {
        border-bottom-left-radius: 6px;
    }
}

/* Large Desktops */
@media (min-width: 1281px) {
    header {
        width: 50%;
        padding: 0px 10px;
        margin: 0 25% 20px 25%;
        background-color:  #941100;
        font-weight: bold;
        font-family:'fantasy';
     }
     th[colspan="2"] {
        border-bottom-left-radius: 6px;
    }
}











