table {
    border-collapse: collapse;
}

.heading {
    width: 48%;
    /* color: #941100; */
    color: black;
    font-size: 26px;
    text-align: center;
}

.section-1 {
    width: 70%;
}
table p {
    font-size: 70px;
    margin: 0;
}

td, th{
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.firstTable {
   float: left;
}

th[colspan="2"] {
    padding: 10px;
    background-color: #941100;
    color: white;
    font-size: 20px;
    border: 0px solid blue;
    border-radius: 20px;
}

th[colspan="2"]:hover {
    color: black;
}


.second-table {
    overflow: hidden;
}
.firstTable #vowels-monophthongs
{
    width: 100%;
}


