
table {
    border-collapse: collapse;
}

header {
    width: 305px;
    margin: 30px 0px 25px 16px;
    border-radius: 10%;
    color: white;
    background-color: #941100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

header:hover{
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    color: white;
    background-color: black;
}

.chart {
    margin: 8px 0 0px 0px;
    padding: 7px 0px;
    font-size: 25px;
    text-align: center;
}

.brand {
    margin: 6px 0;
    padding-bottom: 6px;
    font-size: 20px;
    text-align: center;
}


.section-1 {
    width: 70%;
    margin-left: 20px;
}
table p {
    margin: 0;
    font-size: 70px;
    cursor: pointer;
}

td, th{
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


.firstTable {
   float: left;
}

th[colspan="2"] {
    padding: 10px;
    background-color: #941100;
    color: white;
    font-size: 20px;
    border: 0px solid blue;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.voiceless {
    color : #929292
}
td, th[colspan="2"] {
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

td:hover {
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    color: white;
    background-color: #941100;
}


th[colspan="2"]:hover {
    color: white;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.second-table {
    overflow: hidden;
}
.firstTable #vowels-monophthongs
{
    width: 100%;
}


